<h2>Submit a Contact below</h2>
<form action="/contacts/submit" method="post">
  First Name:
  <input type="search" name="first_name">
  Last Name:
  <input type="search" name="last_name">
  Phone Number:
  <input type="search" name="phone">
  <input type="submit">
</form>
